.modalContentData {
    h2 {
        // width: 90%;
        // font-size: 28px;
        color: red;
        grid-column: 2 / 5;
    }
}
@media (max-width: 600px) {
    .modalContentData {
        h3 {
            color: red;
            text-align: center;
            // grid-column: 2 / 5;
        }
    }
}