.header {
    width: 100%;
    height: auto;
    margin: 0;
}

.header-top {
    width: 100%;
    height: auto;
    position: relative;

    & img {
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    & h1 {
        position: absolute;
        top: 2rem;
        left: 49%;
        color: #fff;
        transform: translate3d(-50%, -50%, 0);
        font-size: calc(20px + (40 - 20) * ((100vw - 380px) / (1240 - 380)));
        font-family: 'Manrope',sans-serif;
    }
}
.header-input-block {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translate(-50%, -50%);

    & button {
            width: 50px;
            height: 50px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            margin-left: -2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #000;
            border: none;
            cursor: pointer;
                & .headerSvg {
                    width: 16px;
                    height: 16px;
                }   
        }
    input {
        width: calc(280px + (400 - 20) * ((100vw - 380px) / (1240 - 380)));
        height: 50px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border: none;
        font-size: 18px;
        padding-left: 1rem;

            &:focus {
                outline: none;
                
            }
    }
}
@media (max-width:380px) {
    .header-top {
        & img {
            height: 200px;
        }
    }
    .header-input-block {
        top: 7rem;
        & input {
            width: 260px;
            font-size: 14px;
        }
    }
    }
@media (max-width: 600px) {
    .header-input-block {
        top: 7rem;
    }
    .header-top {
        h1 {
            top: 3rem;
        }
        img {
            height: 270px;
        }
    }
}